

  <% @categories.group_by(&:group).each do |group, categories| %>
    <h3><%= link_to group, group_posts_path(group)  %></h3>
    <% categories.each do | category | %>
      <%= link_to category.title, category_posts_path(category) %> 
      <%= category.posts.count %><br>
    <% end %>
  <% end %>
  
  

<br />

<%= link_to 'New Category', new_category_path %>
