<div id="feed">News feed?</div>
<%= image_tag "mrnacnak.png", :id => 'logo' %>  
<div id="community_button">
<%= link_to "Sign In or Register", new_user_registration_path %>
</div>
<div class="clear"></div>