/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body { 
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

#feed {background-color: #bdcdd4;
  text-align: center;
  align: top
}

#community_button {
  float: right;
  background-color: #BCCDD4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 8px;
  margin-top: 10px;
  a {
    text-decoration: none;
  }
  a:visited {
    color:black;
  }
}

#footer {
  text-align:center;
  background-color: #BDCDD4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 8px;
  margin-top: 10px;
  display: inline-block;
  a {
    color: #0028FE;
    text-decoration: none;
  }
  a:visited {
    color: #0028FE;
  }
}
  

