// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.cities {
  #top {
    text-align:center;
  
    #search{
      margin-top: 30px;
      text-align:center;
      display:inline-block;
    }
 }
  #change_community {
     background-color: #1076C1;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     padding: 8px;
     margin-top: 10px;
     text-align: none;
     display:inline-block;
   }
   
  #post_button {
    background-color: #1076C1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
    }
    a:visited {
      color: white;
    }
  }
  #recent_posts {
    text-align:center;
    table {
      margin-left: auto;
      margin-right: auto;
    }
    a{
      text-decoration: none;
    }
    a:visited {
      color:black;
    }
    .below-image {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      .price {
        font-weight: bold;
        font-size: 16pt;
      }
    }
  }
}