// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.stories {
  // Add the stories class to your body tag
  // Then, place scoped styles here.
}