<div class="citylist">
<table>
   <tr>
     <% @cities.each do |city| %>
       <% next if city.picture.try(:thumb).blank? %>
       <td>
         <%= link_to root_url(:subdomain => city.subdomain) do %>
           <%= image_tag city.picture.thumb unless city.picture.try(:thumb).blank? %><br />
         <% end %>
       </td>
     <% end %>
   </tr>
 </table>
</div>

<%= link_to 'New City', new_city_path %>